body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.navigation{
    margin: 0;
    display: flex;
    background-color: gray;
}
.logo{
    width: 50%;
}
.menu{
   text-align: right;
   margin-right: 50px;
   width: 50%;
   margin-top: 10px;
}
.logo h1{
    margin: 0;
    padding: 10px;
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bolder;
    transition: 0.3s;
}
a:hover{
    zoom: 1.3;
}
.navigation a:hover{
    background-color: rgb(97, 96, 96);
    border: 2px solid rgb(153, 151, 151);
}
.top-banner{
    display:flex;
}
.half-width{
    width: 50%;
    padding: 10px;
    margin-left: 50px;
}
.half-width img{
    width: 60%;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 50px;
}
.intro-text{
    margin: 150px 80px;
}
.intro-text h1{
    margin: 0px;
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
} 
#colorful-text{
    background-image: linear-gradient(to right,rgb(206, 7, 206), #f12e79, orange,yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-stretch:ultra-expanded;
    letter-spacing: 3px;

}
#self-intro{
    font-weight:bold;
    color:rgba(0, 0, 0, 0.39);
}
.intro-text a{
    text-decoration: none;
    padding: 0 20px;
}
#appointment-btn{
    background-color: black;
    color: white;
    padding: 10px;
    box-shadow:5px 5px 5px rgb(223, 16, 171);
}
#cv-btn{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-left: 20px;
    padding: 10px;
}
#cv-btn:hover{
    background-color: ghostwhite;
    border: 2px solid gainsboro;
}
.title h2{
    background-image: linear-gradient(to left,rgb(223, 7, 223), #f51269, rgb(255, 153, 37),rgb(255, 255, 11));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-stretch:ultra-expanded;
    letter-spacing: 3px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.short-msg{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.service-details{
    display: flex;
}
.service-list{
    width: 33.33%;
    margin-left: 40px;
    padding: 40px;
}
.service-list h1{
    font-weight:bolder;
    font-size: 30px;
    background-image: linear-gradient(to right,rgb(206, 7, 206), #f12e79, orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-stretch:ultra-expanded;
    
}
.bullet-points{
    font-weight: bolder;
}
footer{
    text-align: center;
    background-color: gray;
    margin: 0;
}